/* Administrator Opportunity Management - reuse External Opportunity styles */
@import url("../External Opportunity/style.css");

#allOpportunitiesList table {
    margin-top: 10px;
}

#allOpportunitiesList tr:nth-child(even) {
    background-color: #f2f2f2; /* Makes rows easier to read */
}

#allOpportunitiesList button:hover {
    color: #9B1313;
    transform: scale(1.2);
    transition: 0.2s;
}

